.about-h1 {
    color: #5d5c61;
    padding: 10px;
    padding-top: 30px;
    margin-left: 40px;
}

.about-p {
    color: #5d5c61;
    text-align: justify;
    text-indent: 20px;
    line-height: 35px;
    padding: 50px;
}

.submitbtn{
    margin-left: 35px;

}

.resumeH1{
    color: #5d5c61;
    padding: 20px;
    font-size: 30px
}

.frontH1 {
    color: #5d5c61;
    padding: 20px;
    font-size: 20px;
}
 
.skill-list{
 color: #5d5c61 ;
 padding: 20px;
}
.backH1 {
    color: #5d5c61;
    padding: 20px;
    font-size: 20px;
}
 
.contactBox {
   margin: 35px;
}


.text-block{
    color: #5d5c61;
    text-align: center;
}

.contactH3 {
    color:#5d5c61;
    font-size: 30px;
    padding: 30px;
}

.images {
 width: 300px;
 height: 200px;
 padding: 10px;
}